//= parts/header.html

<main>

    <section class="section-home">
        <div class="container">
            <div class="container__section-home">
                <div class="block">

                    <div class="block__logo">
                        <a href="" class="logo">
                            <img src="img/photo/Yandex Go Ru black.svg" alt="">
                        </a>
                    </div>

                    <div class="block__inf">
                        <div class="block__inf__title">
                            <h1>Вступайте в клуб Самокатов</h1>
                        </div>

                        <div class="block__inf__text">
                           <p>Купите абонемент, чтобы стать частью клуба в
                               новом сезоне–2024. 8 месяцев за
                               <span class="container-price">
                                   <span class="active">499₽</span>
                                   <strike class="default">3190₽</strike>
                               </span>
                           </p>
                        </div>

                        <div class="block__inf__btn">
                            <div class="button-link yellow">
                                <a>Стать частью клуба</a>
                            </div>
                        </div>
                    </div>

                </div>

                <div class="block">
                    <div class="block__img">
                        <div class="photo">
                            <img src="img/photo/smkt0003 2.svg" alt="">
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </section>

    <section class="section-advantages">
        <div class="container">
            <div class="title">
                <p>Вот что даёт участие в клубе</p>
            </div>
            
            <div class="container__section-advantages">

                <div class="item">
                    <div class="icon">
                        <img src="img/icons/price.svg" alt="">
                    </div>

                    <p>0 ₽ за старт в каждой поездке</p>
                </div>

                <div class="item">
                    <div class="icon">
                        <img src="img/icons/scooter.svg" alt="">
                    </div>

                    <p>Катаетесь с друзьями? Бронируйте до трёх самокатов с аккаунта с абонементом — так у всех будет бесплатный старт</p>
                </div>

                <div class="item">
                    <div class="icon">
                        <img src="img/icons/time.svg" alt="">
                    </div>

                    <p>Бесплатная пауза 15 минут в поездке — например, чтобы зайти за кофе или передохнуть</p>
                </div>

                <div class="item">
                    <div class="icon">
                        <img src="img/icons/charging.svg" alt="">
                    </div>

                    <p>Если самокат недостаточно заряжен или с ним неудобно переходить дорогу, замените по пути на другой — это бесплатно</p>
                </div>
            </div>

        </div>
    </section>

    <section class="section-gallery">
        <div class="container">

            <div class="title">
                <p>Эксклюзивный доступ к событиям Самокатов</p>
            </div>

            <div class="item-text">
                <p>С абонементом — у вас доступ к специальным мероприятиям, скидки и классный мерч. В 2023 году мы танцевали на Даче Плюс с Антохой MC, катались на самокатах с Сергеем Мезенцевым и слушали хор Attaque de Panique</p>
            </div>

            <div class="container__gallery">

                <div class="item text">
                   <p>С абонементом — у вас доступ к специальным мероприятиям, скидки и классный мерч. В 2023 году мы танцевали на Даче Плюс с Антохой MC, катались на самокатах с Сергеем Мезенцевым и слушали хор Attaque de Panique</p>
                </div>

                <div class="item right first decor-1">
                    <div class="photo">
                        <img src="img/photo/gallery-1.jpg" alt="">
                    </div>
                </div>

                <div class="item left first decor-2">
                    <div class="photo">
                        <img src="img/photo/gallery-2.jpg" alt="">
                    </div>
                </div>

                <div class="item right decor-3">
                    <div class="photo">
                        <img src="img/photo/gallery-3.jpg" alt="">
                    </div>
                </div>

                <div class="item left">
                    <div class="photo">
                        <img src="img/photo/gallery-4.jpg" alt="">
                    </div>
                </div>

            </div>

            <div class="container-arrow">
                <div id="arrow-prev">
                    <img src="img/icons/arrow.svg" alt="">
                </div>

                <div id="arrow-next">
                    <img src="img/icons/arrow.svg" alt="">
                </div>
            </div>

        </div>
    </section>

    <section class="section-season-ticket">
        <div class="container">
            <div class="container-season-ticket">
                
                <div class="container-season-ticket__inf">
                    <div class="inf__title">
                        <p>Купить абонемент и вступить в клуб смогут те, кто в Плюсе</p>
                    </div>

                    <div class="inf__text">
                        <p>За каждую поездку на самокатах такие пользователи получают кешбэк баллами. Баллы можно тратить на поездки на самокатах и такси с Яндекс Go, покупки и заказы в других сервисах Яндекса</p>
                    </div>
                </div>
                
                <div class="container-season-ticket__photo">
                    <div class="photo">
                        <img src="img/photo/season-ticket-1.png" alt="">
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="section-season-ticket second">
        <div class="container">
            <div class="container-season-ticket">

                <div class="container-season-ticket__photo circle">
                    <div class="photo">
                        <img src="img/photo/season-ticket-2.png" alt="">
                    </div>
                </div>

                <div class="container-season-ticket__inf">
                    <div class="inf__title">
                        <p>80  % наших пользователей уже в клубе и экономят на поездках</p>
                    </div>

                    <div class="inf__text">
                        <p>Присоединяйтесь — опция начнёт действовать в начале сезона–2024. Об открытии сезона предупредим заранее, чтобы вы были готовы</p>
                    </div>

                    <div class="button-link yellow">
                        <a>Хочу абонемент</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>

//= parts/footer.html

